:root{
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose50: hsl(330, 100%, 98%);
    --rose800: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
  }

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: var(--stone100);
    max-width: 100vw;
    height: auto;
}

.card {
    max-width: 100vw;
    margin: 90px 0px;
    display: grid;
    place-items: center;
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color:var(--stone900);
    padding-left: 1.5rem;
    padding-right: 1rem;
}

h2 {
    color: var(--brown800);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin: .25rem;
}

hr {
    border-top: 1px solid var(--stone100);
    margin-left: 1rem;
    margin-right: 1rem;
}

img {
    max-width: 100%;
    width: 700px;
    padding: 20px;
    border-radius: 28px;
}

.instructions {
    margin: 1rem;
}
.instructions > ol {
    list-style-position: inside;
    padding-left: .5rem;
    padding-right: .5rem;
}

.ingredients {
    margin:1rem;
}
.ingredients > ul {
    list-style-position: inside;
    padding-left:.5rem;
}

li::marker {
    color: var(--rose800);
}
li + li {
    margin-top: 10px;
}

.nutrition {
    margin: 1rem;
}

p {
    font-weight:400;
    font-size: 16px;
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.prep {
    background-color: var(--rose50);
    padding: 1.5rem;
    margin: 1rem;
    border-radius: .625rem;
}
.prep > ul {
    list-style-position: inside;
    padding-left: .25rem;
}
.prep > text {
    color: var(--rose800);
    font-weight: 700;
    padding-bottom: .5rem;
}

.recipe-page-content-container {
    max-width: 100%;
    width: 700px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
    color: var(--stone600);
}

table {
    border-collapse: collapse;
    padding: .25rem;
    min-width: 40rem;
}
td {
    border-spacing: 1.5rem;
}
tr {
    border-top: 1px solid var(--stone100);
    border-left: none;
    border-right: none;
    border-bottom: none;
}
/* if you want the first row to not have a top border */
tr:first-child {
    border: none;
}
tr td:nth-child(2) {
    color: var(--brown800)
}

ul::marker {
    color:var(--brown800);
    font-weight: 700;
    padding-right: .5rem;
}

@media screen and (max-width: 700px) {
    .card {
      margin: 0;
    }
  
    .recipe-page-content-container {
      width: 100%;
    }
  
    img {
      width: 100%;
    }
}